{% extends 'Bus/layout.html' %}

{% block title %} Welcome | Dé Bus{% endblock %}

{% block body %}
    <div class="Welcome-text">
        <h2>Welcome!</h2>
        <h1>Dé Bus</h1>
        <p>Your Safe Ride.</p>
    </div>
    <div class="mid-body">
        <hr class="hr-line">
        <h2>-Delivering Values in-</h2>
        <ul>
            <li>
                New York
            </li>
            <li>
                San Francisco
            </li>
            <li>
                Chicago
            </li>
            <li>
                Washington D.C.
            </li>
            <li>
                Los Angeles
            </li>
            <li>
                Denver
            </li>
            <li>
                Seattle
            </li>
            <li>
                Boston
            </li>
            <li>
                San Deigo
            </li>
            <li>
                Austin
            </li>
            <li>
                Houston
            </li>
            <li>
                San Antonio
            </li>
            <li>
                Dallas
            </li>
            <li>
                Detroit
            </li>
            <li>
                San Jose
            </li>
            <li>
                Portland
            </li>
            <li>
                Miami
            </li>
        </ul>
        <hr class="hr-line">
    </div>
   
{% endblock %}